.row
  .col-sm-12
    %h1.text-center
      My Jobs

.row
  .col-sm-12
    %table.table.table-striped
      %thead
        %th Company Name
        %th Position
        %th Application Sent
        %th Last Touch
        %th Action
      %tbody
        - @jobs.each do |job|
          %tr
            %td
              = link_to job.company.name, job.company
            %td
              = job.position_name
            %td
              = job.application_sent
            %td
              = job.last_touch
            %td
              = render 'shared/action_button_group', object: job

